/**
 * .three-up
 *   grid-item(3)
 *
 *   @media (max-width 760px)
 *     grid-item(2)
 *
 *   @media (max-width 320px)
 *     grid-item(1)
 */
grid-item($divisor)
  display inline-block

  width (100 / $divisor)%
