[sop-expandable-caret]
  transition all .2s

[sop-expandable]
  height 0
  overflow hidden

  transition all .2s

.sop-expandable--open
  [sop-expandable]
    height auto

  [sop-expandable-caret]
    transform rotate(-180deg)
