[sop-expandable-caret] {
  transition: all 0.2s;
}
[sop-expandable] {
  height: 0;
  overflow: hidden;
  transition: all 0.2s;
}
.sop-expandable--open {
  height: auto;
}
.sop-expandable-caret--rotate {
  transform: rotate(-180deg);
}
