[sop-expandable-caret]
  transition all .2s

[sop-expandable]
  height 0
  overflow hidden

  transition all .2s

+prefix-classes(sop-expandable)

  .--open
    height auto

  .-caret--rotate
    transform rotate(-180deg)
