@import '../../lib/sop-ui/icons/social'

.facebook
  sop-social-icon(facebook)

.instagram
  sop-social-icon(instagram, fill)

.instagram-wrong-spell
  sop-social-icon(instagrame)

.twitter-wrong-style
  sop-social-icon(twitter, fill, alt)

.pinterest
  sop-social-icon(pinterest, fill, alt)
